/* header */

header{
	margin-top: 18px;
}

.logo{
	display: inline-block;
	color: #FA6980;
	font-size: 13px;
	margin-left: 20px;
	vertical-align: middle;

}

.navigation{
	display: inline-block;
	vertical-align: middle;
	margin-left: 90px;
	font-size: 11px;
}

.nav-li{
	display: inline-block;
	margin-left: 26px;
}

.user{
	display: inline-block;
	vertical-align: middle;
	margin-left: 39px;
}